<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My own reddit</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <header>
    <p class="title">SPACE </p>
  </header>
  <div class="main">
    <ul class="postList">
      <% rows.forEach(element=>{%>
      <li data-postid="<%= element.id %>" class="post">
        <div class="rating">
          <img src="../static/img/upvote.png">
          <p class="vote"><%= element.score %></p>
          <img src="../static/img/downvote.png">
        </div>
        <div class="postDetail">
          <div class="postHeader">
            <p class="postTitle"><%= element.title %></p>
            <a class="postUrl" href="<%= element.url %>">(<%= element.url %>)</a>
          </div>
          <div class="dateOwner">
            <p class="date">submitted at <%= element.addedTime.toString().substr(4, 11) %> by </p>
            <p class="owner"> <%= element.owner %></p>
          </div>
          <div class="options">
            <a href="">delete</a>
            <a href="">edit</a>
          </div>
        </div>
      </li>
      <%});%>
    </ul>
    <div class="info">
      <button class="submit">Submit a new post</button>
      <div class="static">
        <p>ABOUT</p>
        <ul>Share and discuss informatice content on:
          <li>My studies</li>
          <li>My skills</li>
        </ul>
      </div>
    </div>
  </div>
  <script src="../static/js/reddit.js"></script>
</body>

</html>